* {
    box-sizing: border-box;
}

/* font */
@font-face{
    font-family: "Vazir-FD";
    src: url("../fonts/Vazir-FD.woff");
}

body {
    margin: 0;
    font-family: "Vazir-FD";
}
.backdrop{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.5);
    z-index: 100;
}
.main-header {
    width: 100%;
    background-color: #1565c0;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 1;
}
.main-header > div{
    display: inline-block;
}
.main-header__logo{
    text-decoration: none;
    color:#e3f2fd;
    font-size: 1.2rem;
    vertical-align: middle;
}
.main-nav{
    display: inline-block;
    width: calc(100% - 70px);
    text-align: right;
    vertical-align: middle;
}
.main-nav__item{
    display: inline-block;
    margin: 0 0.5rem;
}
.main-nav__item  a {
    text-decoration: none;
    color:#bbdefb;
}
.main-nav__item  a:hover,
.main-nav__item  a:active {
    color:#ffffff;
}
.main-nav__item--acounts a{
    background-color: #e3f2fd;
    color:#1565c0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
.main-nav__item--acounts a:hover,
.main-nav__item--acounts a:active{
    color:#1565c0;
}
/* footer */
.main-footer{
    background-color: #424242;
    padding: 2rem;
}
.main-footer__links{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.main-footer__link {
    display: inline-block; 
    margin: 0 1rem;
}
.main-footer__link a{
    color: #ffffff;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active{
    color:#e0e0e0;
}