main{
    padding-top: 2rem;
}
.backgrounded{
    background: url("../../images/sky.jpg") center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    filter:grayscale(45%);
}
.plans{
    border: 2px solid #1565c0;
    width: 60%;
    border-left: 0;
    margin: 1rem 0;
    border-radius: 3px;
    padding: 2rem;
    text-align: right;
    z-index: 0;
    position: relative;
}
.plans a {
    color: #1565c0;
    text-decoration: none;
    display: block;
    padding:2rem;
}
.plan__description{
    border: 1px solid #1565c0;
    padding:1rem;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 0.9rem;
}
.clearfix{
    clear: both;
}
#plus{
    background-color: #bbdefb;
}
.plan__badge{
    font-size:0.9rem;
    right: 0;
    margin: 3.1rem;
    top:0;
    color: #ffffff;
    background: #1565c0;
    padding: 0.2rem 0.5rem;
    position: absolute;
}
#free{
    background-color: #e3f2fd;
    float: right;
    border-right: 0;
    border-left: 2px solid #1565c0;
}
#perimum{
    background-color: #1565c0;
}
#perimum .plan__title {
    color: #ffffff;
}